src/keys/
src/tmp/
src/json/
config/channels-list.txt
config/messages-list.txt
config/relays-list.txt
config/pubkeys-list.txt
config/privkeys-list.txt
src/scripts/ping-relays/relays-list.txt
*.json
config/contact-list.csv
